@import "../../global.scss";
.card_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  & .card{
    width: 350px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid $primary_card_color ;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    &.show{
      transition: all 1s ease-in-out;
      opacity: 1;
      height: 150px;
    }
    &.hide{
      transition: all 1s ease-in-out;
      opacity: 0;
      margin: 0;
      height: 0px;
      border: 0;
    }
    &.fadeOut{
      animation: fade_out 0.7s ease-in-out;
      transform: translateX(-100%);
      opacity: 0;
      margin: 0;
      height: 0px;
      border: 0;
    }
    &.fadeIn{
      animation: fade_in 0.7s ease-in-out;
      transform: translateX(0);
    }
    & .card_header{
      position: relative;
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: $primary_card_color;
      & p{
        text-align: center;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:nth-child(1){
          width: 50px;
        }
      }
      
    }
    & .card_row{
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      & .card_row_item{
        text-align: center;
        & h4{
          color: blue;
        }
        & .overPrice{
          display: flex;
          align-items: center;
          font-weight: 600;
          color: red;
          & svg{
            width: 20px;
            height: 20px;
            & path{
              fill: red;
            }
          }
        }
        & .belowPrice{
          display: flex;
          align-items: center;
          font-weight: 600;
          color: green;
          & svg{
            width: 20px;
            height: 20px;
            & path{
              fill: green;
            }
          }
        }
      }
    }
    
    & .card_lastest_time{
      position: absolute;
      bottom: 10px;
      right: 20px;
      z-index: -1;
    }
     & .heart {
      position: absolute;
      left: 10px;
      bottom: 10px;
      width: 25px;
      height: 20px;
      & path{
        fill: white
      }
      &.red{
        & path{
          fill: red
        }
      }
    }
  }
}

@keyframes fade_out {
  0%{
    transform: translateX(0px);
    opacity: 1;
    height: 150px;
  }
  50%{
    transform: translateX(-120%);
    margin: 0;
    border: 0;

  }
  79%{
    opacity: 1;
    height: 0px;
  }
  100%{
    opacity: 0;
    height: 0px;
  }
}
@keyframes fade_in {
  0%{
    transform: translateX(-120%);
    height: 150px;
    
  }
  100%{
    transform: translateX(0);
  }
}